<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{css/adminStyle.css}" href="../static/css/adminStyle.css?version=1">
</head>
<body>
<div class="header">
    <header><h1>Admin Dashboard</h1></header>
</div>
<div class="wrapper">
    <div class="existing_users">
        <table>
            <caption ><h2>Χρήστες</h2></caption>
            <tr>
                <th>Username</th>
                <th>Ρόλος</th>
                <th>Διαγραφή</th>
            </tr>
            <tbody id="table-body"></tbody>
            <script defer type="text/javascript" th:src="@{/js/admin.js}" src="../static/js/admin.js"></script>
        </table>
    </div>

    <form method="post" id="new_user_form">
        <div class="new_user">
            <h2 class="new_user_header">Εγγραφή νέου χρήστη</h2><br>
            <input class="new_user_field" id="username" name="username" type="text" placeholder="Username" required><br>
            <input class="new_user_field" id="password" name="password" type="password" placeholder="Password" required><br>
            <select class="new_user_select" name="role" required>
                <option name="role" value="" disabled selected hidden>Ρόλος</option>
                <option name="role" value="ROLE_SECRETARY" > Γραμματεία</option>
                <option name="role" value="ROLE_OFFICER"> Αξιωματικός</option>
            </select><br>
            <button type="submit" id="new_user_submit_button" class="new_user_select">Υποβολή</button>
        </div>
    </form>
</div>

</body>
</html>