<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Προφίλ Στρατιώτη</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/css/citizenStyle.css}">
</head>
<body>
    <div class="header">
        <header>

            <div class="logo">
                <a th:href="@{login}">
                <img th:src="@{/images/logo_full.png}" alt="logo" id="img_logo" height="120px">
                </a>
            </div>


        </header>
    </div>
    <script type="text/javascript" th:src="@{/js/citizen.js}"></script>
    <form method="post" action="http://localhost:8080/api/v1/citizen/addCitizen">
    <div class="grid">
        <div class="grid-item">
            <table class="table">
                <caption class="table-header">Στοιχεία Πολίτη</caption>
                <tr>
                    <th> Ονοματεπώνυμο</th>
                    <td><input type="text" name="fullname" required></td>
                </tr>
                <tr>
                    <th> Email</th>
                    <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <th> Τηλέφωνο</th>
                    <td><input type="tel" name="phoneNumber" required></td>
                </tr>
                <tr>
                    <th>Ημερομηνία γεννήσεως</th>
                    <td><input type="date" name="DOB" max="2003-12-31" required></td>
                </tr>
                <tr>
                    <th>Αριθμός ταυτότητας</th>
                    <td><input type="text" name="idNumber" required></td>
                </tr>
                <tr>
                    <th>Στρατολογικός αριθμός</th>
                    <td><input type="number" name="militaryNumber" required></td>
                </tr>
            </table>
        </div>


<!--        <div class="grid-item">-->
<!--            <table class="table">-->
<!--                <caption class="table-header">Λόγος αναβολής:</caption>-->
<!--                <tr>-->
<!--                    <th>Σπουδές</th>-->
<!--                    <td><input type="radio" name="selection" class="radio-button" value="studies" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Πρόβλημα υγείας</th>-->
<!--                    <td><input type="radio" name="selection" class="radio-button" value="health"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Πατέρας δύο ζώντων τεκνών</th>-->
<!--                    <td><input type="radio" name="selection" class="radio-button" value="fatherhood"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Υπηρετούντος αδελφού</th>-->
<!--                    <td><input type="radio" name="selection" class="radio-button" value="brotherhood"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Κάτοικος εξωτερικού</th>-->
<!--                    <td><input type="radio" name="selection" class="radio-button" value="abroad"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--        </div>-->

<!--        <div class="grid-item">-->
<!--            <table class="table" border="0">-->
<!--                <caption class="table-header" >Δικαιολογητικά</caption>-->
<!--                <tr><th><input type="file" name="file" multiple accept=".txt, .pdf, .doc, .docx" required></th><td></td></tr>-->
<!--            </table>-->

<!--        </div>-->

        <div class="grid-item">
            <input type="reset" class="form-buttons" value="Επαναφορά">
            <input type="submit" class="form-buttons" value="Υποβολή φόρμας">
        </div>
    </div>
    </form>
</body>
</html>