
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Στρατολογία</title>
    <link href="../static/css/loginStyle.css" rel="stylesheet">
    <link href="../static/css/stylesheet.css" rel="stylesheet">

</head>
<body>
<div class="header">
    <header>
        <a href="login.html">
            <div class="logo">
                <img  src="../static/images/logo_full.png" alt="logo" height="120px">
            </div>
        </a>
    </header>
</div>

<div class="login">
    <h1>Είσοδος</h1>
    <form method="POST" action="http://localhost:8080/login">
        <div class="textField">
            <input name="username" type="text" required placeholder="Username">
            <label>Username</label>
        </div>
        <div class="textField">
            <input name="password" type="password" placeholder="Password" required>
            <label>Password</label>
        </div>
        <input name="submit" id="submit" type="submit" value="Login" /><br>
        <a class="civilians_login" href="citizen.html">Είσοδος για πολίτες</a>
    </form>
</div>
<div class="skip_login">

</div>
</body>
</html>