<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Αξιωματικός</title>
    <link rel="stylesheet" th:href="@{/css/officerStyle.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div class="header">
    <header>
        <a th:href="@{login}">
            <div class="logo">
                <img th:src="@{/images/logo_full.png}"  alt="logo" height="120px">
            </div>
        </a>
    </header>
</div>

    <table class="admin-table">
        <caption class="table-header">Αιτήσεις</caption>
        <tr>
            <th class="counterCellHeader">A/A</th>
            <th>Στοιχεία πολίτη</th>
            <th>Δικαιολογητικά</th>
            <th>Σχόλια</th>
            <th>Αναβολή για:</th>
            <th>Επικύρωση</th>
            <th>Έγκριση</th>
        </tr>
        <tr>
            <td class="counterCell"></td>
            <td></td>
            <td></td>
            <td><textarea ></textarea></td>
            <td><select>
                <option value="6months">6 Μήνες</option>
                <option value="1year">1 Χρόνο</option>
                <option value="2years">2 Χρόνια</option>
            </select></td>
            <td></td>
            <td><button >Αποδοχή</button><button>Απόρριψή</button></td>
        </tr>
        <tr>
            <td class="counterCell"></td>
            <td></td>
            <td></td>
            <td><textarea ></textarea></td>
            <td>
                <select>
                <option value="6months">6 Μήνες</option>
                <option value="1year">1 Χρόνο</option>
                <option value="2years">2 Χρόνια</option>
                </select>
            </td>
            <td></td>
            <td><button>Αποδοχή</button><button>Απόρριψή</button></td>
        </tr>
        <tr>
            <td class="counterCell"></td>
            <td></td>
            <td></td>
            <td><textarea ></textarea></td>
            <td>
                <select>
                <option value="6months">6 Μήνες</option>
                <option value="1year">1 Χρόνο</option>
                <option value="2years">2 Χρόνια</option>
                </select>
            </td>
            <td></td>
            <td><button>Αποδοχή</button><button>Απόρριψή</button></td>
        </tr>
    </table>

</body>
</html>